{% extends 'main/base.html' %}

{% block title %} Produtos Conferidos {% endblock %}

{% block content %} 

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Produto</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Quantidade</th>
        </tr>
        </thead>

    {% for p in produtos_conferencia %}

            <tbody>
            <tr>
                <td scope="col"> {{ p.codigo_barras }} </a></td>
                <td scope="col">{{ p.data_validade }}</td>
                <td scope="col">{{ p.quantidade }}<td>
            </tr>
            </tbody>
        
        
    {% endfor %}

    </table>

{% endblock %}